### APIs

In [ ]:
# pip install requests
!pip install requests
!pip install python-dotenv

### HTTP Methods (CRUD Operations)

In [ ]:

# GET = SELECT (read data)
# Used to retrieve/read data from a server
# Example: Get list of employees

# POST = INSERT (create new data)
# Used to create new records
# Example: Create a new employee record

# PUT = UPDATE (modify existing data)
# Used to update/replace existing records
# Example: Update employee salary

# DELETE = DELETE (remove data)
# Used to remove records
# Example: Delete an employee record

### Status Codes

In [ ]:
# Status codes tell you if your request worked or not
# Like SY-SUBRC in ABAP!

# 2xx = Success (like SY-SUBRC = 0)
200  # OK - Request successful
201  # Created - New record created successfully

# 4xx = Client Error (like SY-SUBRC = 4)
400  # Bad Request - Your request has errors
401  # Unauthorized - You need to login/authenticate
404  # Not Found - The resource doesn't exist

# 5xx = Server Error (like SY-SUBRC = 8)
500  # Internal Server Error - Something broke on the server

### Working with Azure Storage

In [1]:
import requests
import os
from dotenv import load_dotenv
import pandas as pd
from io import StringIO

load_dotenv()

url = "https://synapsedl50415.blob.core.windows.net/cit-training/employees.csv"
sas_token = os.getenv("SAS_TOKEN")

full_url = url + "?" + sas_token

response = requests.get(full_url)
    
df = pd.read_csv(StringIO(response.text))
df.head()

,EmployeeID,FirstName,LastName,Department,Position,City,Age,Salary,DateHired
0,E1000,Emma,Gutierrez,IT,Executive,Makati,58,86907,2020-07-08
1,E1001,Maria,Perez,HR,Executive,Taguig,33,88777,2019-10-14
2,E1002,Diego,Santos,Operations,Clerk,Manila,24,43977,2017-12-14
3,E1003,Isabel,Rivera,Finance,Engineer,Taguig,22,73624,2019-04-19
4,E1004,John,Hernandez,Finance,Executive,Makati,54,93321,2014-07-25

### Working with NoSQL

### ETL: extract (azure storage) > transform (python) > load (azure sql)